# .mailmap

# Azza GAMGAMI
Azza GAMGAMI <gamgami@lapp.in2p3.fr>  Azza GAMGAMI <73697722+azza-max@users.noreply.github.com>

# Shraddha Bajare
Shraddha Bajare <shraddha.bajare@skao.int>  bajareshraddha <shraddhab.skao@gmail.com>

# Elena Breitmoser 
Elena Breitmoser <elena@epcc.ed.ac.uk>  ebreitmo <elena@epcc.ed.ac.uk>
Elena Breitmoser <elena@epcc.ed.ac.uk>  Elena Breitmoeller <elena@epcc.ed.ac.uk>

# Faruk Diblen
Faruk Diblen <f.diblen@esciencecenter.nl>  fdiblen <144492+fdiblen@users.noreply.github.com>  
Faruk Diblen <f.diblen@esciencecenter.nl>  Faruk D. <f.diblen@esciencecenter.nl>   

# Kirsty Pringle
Kirsty Pringle <k.pringle@epcc.ed.ac.uk>  KirstyPringle <k.pringle@epcc.ed.ac.uk> 

# Nikos Pechlivanis
Nikos Pechlivanis <npechlv@gmail.com>  Nikos Pechlivanis <nikosp41@gmail.com>   
Nikos Pechlivanis <npechlv@gmail.com>  nikopech <nikosp41@gmail.com>
Nikos Pechlivanis <npechlv@gmail.com>  unknown <nikosp41@gmail.com> 

# srghosh56
Srobona Ghosh <srobona.ghosh@hzdr.de>  srghosh56 <srobona.ghosh@hzdr.de>

